---
layout: archive
---

{{ content }}

{% assign categories_max = 0 %}
{% for category in site.categories %}
  {% if category[1].size > categories_max %}
    {% assign categories_max = category[1].size %}
  {% endif %}
{% endfor %}

{% for i in (1..categories_max) reversed %}
  {% for category in site.categories %}
    {% assign category_name = page.category | default: page.title %}
    {% if category_name == category[0] %}
        {% if category[1].size == i %}
        <section id="{{ category[0] | slugify | downcase }}" class="taxonomy__section">
            <!-- <h2 class="archive__subtitle">{{ category[0] }}</h2> -->
            <div class="entries-{{ page.entries_layout | default: 'list' }}">
            {% for post in category.last %}
                {% include board-single.html type=page.entries_layout %}
            {% endfor %}
            </div>
            <br>
            <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
        </section>
        <!-- <section id="{{ category[0] | slugify | downcase }}" class="taxonomy__section">
          <h3 class="archive__subtitle">{{ category[0] }}</h3>
          <div class="entries-{{ page.entries_layout | default: 'list' }}">
          {% for i in (0..cnt) %}
            {% assign post = category.last[i] %}
            {% include board-single.html type=page.entries_layout %}
          {% endfor %}
          </div>
          <h5 align="right">
            <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
          </h5>
        </section> -->
        {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}
