---
layout: archive
---

{% for category in site.categories %}
  {% assign cnt = 0 %}
  {% if category[1].size >= 3 %}
    {% assign cnt = 2 %}
  {% endif %}
  {% if category[1].size == 2 %}
    {% assign cnt = 1 %}
  {% endif %}
  {% if category[1].size == 1 %}
    {% assign cnt = 0 %}
  {% endif %}
  {% if category[1].size != 0 %}
    <section id="{{ category[0] | slugify | downcase }}" class="taxonomy__section">
      <h3 class="archive__subtitle">{{ category[0] }}</h3>
      <div class="entries-{{ page.entries_layout | default: 'list' }}">
      {% for i in (0..cnt) %}
        {% assign post = category.last[i] %}
        {% include leaderboard-single.html type=page.entries_layout %}
      {% endfor %}
      </div>
      <h5 align="right">
        <a href="/categories/{{category[0]}}" class="more">{{ 'more' }} &rarr;</a>
      </h5>
    </section>
  {% endif %}
{% endfor %}

<br>
<a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
